.aide{
    margin-top: 6%;
    margin-bottom: 8%;
    margin-left: 30%;
    width: 70%;
}


.titre2-aide{
    font-size: 1.8vw;
    font-family: poppins;
    margin-top: 2.5%;
    color: #64379F;

}

.sign{
    width: 80%;
    height: fit-content;
    margin-bottom: 1%;
    padding: 0.5% 2%;
    border: 2px solid #ccc; 
    border-radius: 10px;
    display: flex;
    flex-direction: row;

}

.titre1-aide{
    font-size: 1.4vw;
    font-family: poppins;
    color: #365486;

}

.fasil{
    width: 55%;
}
.ou{
    color: gray;
    font-size: 1.5vw;
    font-family: poppins;
    margin-left: 70%;
    margin-bottom: 1%;
}
.signaler{
    background: linear-gradient(to right, #365486, #64379F);
    font-family: poppins;
    font-size: 1.15vw;
    padding: 1% 3%;
    color: white;
    margin-left: 30%;
    width: 15%;
    margin-top: 1%;
    text-align: center;
    margin-bottom: 1%;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    animation: shake 0.3s ease-in-out infinite;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-3px); }
    50% { transform: translateX(3px); }
    75% { transform: translateX(-3px); }
    100% { transform: translateX(0); }
  }
 
  .signaler.paused {
    animation-play-state: paused;
  }

.consulter{
    
    width: 80%;
    height: fit-content;
    margin-bottom: 5%;
    padding: 0.5% 2%;
    border: 2px solid #ccc; 
    border-radius: 10px;

}







.questions {
    margin: 0 auto;
    width: 90%;
    font-size: 1vw;
    font-family: poppins;
    font-weight: 500;
}

.question {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1vw;
    font-family: poppins;
    font-weight: 500;
}

.question h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1vw;
    font-family: poppins;
    font-weight: 500;
}

.btn-plus {
    float: right;
    cursor: pointer;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
    padding-left: 2%;
    background: linear-gradient(to right, #365486, #64379F);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 1.2vw;
    font-family: poppins;
    font-weight: 500;
}

.solution {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1vw;
    font-family: poppins;
    font-weight: 500;
}
