body {
    font-family: 'poppins';
    margin: 0;

}

.sous-titre {
    display: flex;
    color: #64379F; 
    margin-left: 275px;
    margin-top: 60px;
    font-size: 20px;
    margin-bottom: -16px;
    align-items: center;
}

.profil-pic{
    width: 44px;
}

.add-icon{
    width: 3%;
}

.status{
    font-style: italic;
}

#ajout-btn{
    background: gray;
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    padding: 8px 6px;
    color: black;
    margin-left: 19%;
    width: calc(99.1% - 280px);
    margin-right: 910px;
    margin-top: 0.1%;
    
    height: 62px;
    transition: .5s;
    border-radius: 4px;
    border: 3px dashed #64379F;
    border-width: 4px;
    border-spacing: 30px;
    cursor: pointer;
}


.ajout-chercheur-icon {
    width: 26px; /* Adjust the width as needed */
    height: 26px; /* Maintain aspect ratio */
    margin-right: 3px; /* Add spacing between image and text */
    margin-bottom: -5px;
    margin-left: 2px;
}
  
.sous-titre p {
    display: inline-block; /* Keep text on the same line */
    font-weight: 600;
    margin-top: -5%;
}

.icon-text-container{
    margin-top: -5.5%;
}
.icon-text-container{
    margin-top: -5.5%;
    margin-bottom: 1%;
}
h1.Chercheurs {
 
        color: #64379F;
        margin-left: 22%;
        margin-top: 4.5%;  
    
}

ul.publication-list {
   
    box-sizing: border-box;
    margin-left: 18%;
    width: calc(100% - 275px); /* Adjusted width to fill the remaining space */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 14px;
}

ul.publication-list li {
    display: flex;
    align-items: center;
    background: white;
    width: calc(100% - 22px); /* Adjusted width to fill the container */
    padding: 34px 6px;
    color: black;
    margin: 4px 0;
    height: 64px;
    transition: .5s;
    border-radius: 4px;
    border: 2px solid #ccc;
} 

ul.publication-list li span {
    margin-right: 1%; 
    
}

ul.publication-list li span:nth-child(1){
    margin-left: 2%;
    width: 6% ;
}
ul.publication-list li span:nth-child(2){
    width: 35% ;
}
ul.publication-list li span:nth-child(3){
    width: 20% ;
}
ul.publication-list li span:nth-child(4){
    width: 20% ;

}
ul.publication-list  li span:nth-child(5){
    width: 10% ;
}
ul.publication-list li span:nth-child(5){
    width: 100px ;

}

ul.publication-list li .buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 10px; /* Add some padding to the buttons container */
} 

ul.publication-list li button {
    margin-bottom: 3%;
    margin-top: 3%;
    margin-right: 20%;
}

#button1{
    background: #365486;
    color: white;
    font-family: 'poppins';
    font-size: 13px;
    border: none;
    padding-left: 12%;
    font-weight: 500;
    padding-right: 12%;
    padding-top: 4%;
    padding-bottom: 4%;
    border-radius: 5px;
    cursor: pointer;
}

#button1:hover{
    background: #1f3a59;
}

#button2{
    background: white;
    color: #365486;
    font-family: 'poppins';
    font-weight: 500;
    border: 2px solid #365486;
    font-size: 13px;
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 1.5%;
    padding-bottom: 2%;
    border-radius: 5px;
    cursor: pointer;
}

#button2:hover{
    background: #e2e2e2;
}

.name-chercheur{
    color: #64379F;
    font-weight: 550;
}

.button-modifier{
    background-color: #365486;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.button-modifier:hover {
    background-color: #1f3a59; /* Darker color when hovered */
}
.button-supprimer{
    background-color: #E81F20;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-supprimer:hover {
    background-color: #b50005; /* Darker color when hovered */
}
.Titre {
    margin-top: 30px;
    margin-bottom: -28px;
    margin-left: 380px;
    margin-right: 10%;
    font-weight: 650;
    font-size: 14px;
    color: #64379F; 
    margin-top: 20px; 
    overflow-x: auto;
}


.Titre th {
    padding: 8px 1px;
    padding-right: -3px;
    text-align: left;

}

.Titre th:nth-child(1) {
    width: 43%;
}

.Titre th:nth-child(2) {
    width: 10%;
    padding-left: 1.5%;
}

.Titre th:nth-child(3) {
    width: 10%;
    padding-left: 1.5%;

}

.Titre th:nth-child(4) {
    width: 10%;
    padding-left: 1.5%;

}

.Titre th:nth-child(5) {
    width: 10%;
    padding-left: 20px; 
}

.pages {
    display: flex;
    justify-content: space-between;
    position: fixed;  
    bottom: 0;  
    left: 50%;  
    transform: translateX(25%);  
    margin-bottom: 4px;
  }
  
.pages button.nombre-page {
    content: "\003C";
    color: black;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 3px;
    padding: 6px 11px;
    text-align: center;
    margin-right: 4px;
    cursor: pointer;
    padding: 6px 10px;
    transition: background-color .2s, transform .2s;
  }
.pages button.nombre-page:hover {
    background-color: rgb(204, 204, 204);
    transform: scale(1.12);
}

/*-----------------------------------------------------------------------------------------------------------*/
#overlay {
    display: block;
    position: fixed;
    top: 0;
    left:17.5%;
    width: 80.5%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}

.modal-small {
    display: block;
  font-family: 'poppins', sans-serif;
  font-size: 15px;
  position: fixed;
  z-index: 999;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;  /* Increased width to 70% */
  max-height: 250px; /* Increased height to 250px */
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 12px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.modal-content {
    color: #595959;
    max-height: calc(100% - 40px);
    margin-bottom: 1rem;
}



#deconnexion {
    font-size: 19px;
    font-weight: 500;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 8px;
}

.icon-deconnexion {
    margin-bottom: 10px;
    width: 60px;
    height: auto;
    margin-top: -1%;
}



.dec-btn {
    margin:0.25vw 0.25rem;
    display: inline-block;
    align-items: center;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
     font-family: 'poppins' , sans-serif;
    border-radius: 8px;
    height: 44px;
    width: 47%;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 0.75rem ;
    padding-left: 14%;
    padding-right: 14%;
    margin-bottom: 0.25rem;
    background-color: #64379F;
    color: #FEFDFF;
    border: 2px solid #64379F;
    position: relative;
    right: -2px;
    top: 5%;
}

.dec-btn:hover {
    background-color: #482774;
    font-family: 'poppins' , sans-serif;
}


#cancel-reset {
    margin: 0.25rem 0.25rem;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-family: 'poppins' , sans-serif;
    font-weight: 600;
    top: 50%;
    bottom: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    align-items: center;
    white-space: nowrap;
    border-radius: 8px;
    height: 44px;
    width: 47%;
    padding: 0.75rem 4rem;
    margin-bottom: 0.25rem;
    background-color: #fefefe;
    color: #64379F;
    border: 2px solid #64379F;
    position: relative;
    left: -4px;
}

#cancel-reset:hover {
    background-color: #8557c520;
    font-family: 'poppins' , sans-serif;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: 'poppins' , sans-serif;
}

p.para,
p.name-chercheur ,p.activer-qui,p.phrase,button.button-links {
    font-family: 'poppins' , sans-serif;
}

button {
    font-family: 'poppins' , sans-serif;
}
.phrase{
    font-family: 'poppins' , sans-serif;
    margin-top: 15%;
    margin-bottom: 4%;
    text-align: center;
    font-size: 1.1vw;
}
#sup{
    margin-top:-4% ;
}
.activer-qui{
    text-align: center;
    margin-top: -4%;
    color: black;
    font-size: 1.1vw;
}
#appear-when-supp{
    display: none; 
}
.adminchercheur{

    margin-left: 2%;
}









/*******************************************partie02**********************************************/
.custom-input {
    position: relative;
}


.input-group {
    margin-bottom: 8px;
    display: flex; /* Use flexbox to align items */
    align-items: center; /* Center items vertically */
    width: 90%;
}



.input-group label {
    
    margin-right: 10px;
    text-align: right;
    font-weight: 600;
       
}

.input-group input {
    outline: none;
    font-size: 0.9vw;
    margin-left: 4%;
    font-weight: 600;
   
}


.input-group select {
   
    padding: 5px;
    outline: none;
     font-size: 0.8vw;
     font-weight: 600;

}


.button-group button.ajouter {
    margin-right: 10px;
}

.input-group {
    color: #365486;
    font-size: 1vw;
}



.paragra{

    color: #64379F;
    font-weight: bold;
    font-size: 1.4vw;
    
   
}

.icon-text-containerr{
    display: flex; 
    align-items: center; 
    margin-left: 28%;
    
    }


    .ajout-chercheur-iconn {
        width: 20px;/* Adjust the width as needed */
        height: 20px; /* Maintain aspect ratio */
        margin-right: 10px; /* Add spacing between image and text */
        border: none;
        margin-bottom: 4%;
    }


    .modall{
        margin-top: 4%;
        width:212%;
    }

    




  
.input-group input::placeholder {
    color: transparent; /* Hide the default placeholder text */
    
}

.input-group input:focus::placeholder {
    color: #ccc; /* Show a lighter placeholder text when input is focused */

}


input[type="text"]{
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #365386ac;
    padding-right: 30%;
}

input.dplpLink[type="text"]{
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #365386ac;
    padding-right: 30%;
}

input.orcid[type="text"]{
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #365386ac;
    padding-right: 34%;
}

input.researchGateLink[type="text"]{
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #365386ac;
    padding-right: 14%;
}



input[type="number"]{
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #365386ac;
   margin-left: 30%;
}

input[type="tel"]{
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #365386ac;
   margin-left: 6%;
}



input[type="email"]{
    padding: 8px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #365386ac;
    padding-right: 18%;
    margin-left: 16%;
   
}







.custom-input-nom
{
margin-left: 15% ;
}
    
.custom-input-prenom
 {
    margin-left: 10% ;       
}
        
 
.custom-select select.sele
 {
           
            padding: 0.7vw 4vw;
            appearance: none;
            border: none;
            border-radius: 5px;
            background-color: #ddd;
            cursor: pointer;
            margin-left: 30%;
            text-align: center;
}
  


         
.custom-select select.sel 
{
            width: 70%;
            padding: 0.7vw;
            text-align: center;
            appearance: none;
            border: none;
            border-radius: 5px;
            background-color: #ddd;
            cursor: pointer;
            margin-left: 8%;
           
 }
        
 .custom-select select.grade{

    width: 40%;
    padding: 0.7vw;
    text-align: center;
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    margin-left: 14%;

 }
 .custom-select select.qualite{

    width: 60%;
    padding: 0.7vw;
    text-align: center;
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    margin-left: 19%;


 }
 .custom-select select.equipe  {

    width: 40%;
    padding: 0.7vw 4vw;
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    margin-left: 40%;
    text-align: center;


 }
 
 .custom-select select.grade-recherche {

   width: 62%;
    padding: 0.7vw ;
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
    cursor: pointer;
    margin-left: -0.5%;
    text-align: center;


 }







 
 .iconn{

            width: 20%;
            margin-left: -10%;
           
            color: whitesmoke;
           
           
        }

.iconnn {
   
 top: 50%;
margin-left: -2vw;
width: 4%;
transition: transform 0.2s ease-in-out;
         
          }

.border{
            margin-top: 5%;
            
            background-color: white;
            margin-left: 22%; 
            display: inline-block;
            align-items: center;
            white-space: nowrap; 
            border-radius:20px;
            width: 33vw;
            justify-content: center; 
            padding: 0.75rem ;
            padding-right: 16%;
            border: 2px solid #BBBBBB;
            box-shadow: 0 4px 8px grey;
            position: relative;
           
        }

.inside{

    margin-left: 6%;
}

.error-message {
    color: white;
    background-color: red;
    font-family: 'Poppins', sans-serif;
    margin-left: 10px; /* Adjust margin as needed */
    vertical-align: middle; /* Align vertically */
    display: inline-block; /* Display as inline-block for correct alignment */
    font-size: 1vw;
  }
  
  .vide {
    display: inline-block; /* Ensure button is inline-block */
  }
  
  button.vide {
    background-color: red;
    border: 2px solid red;
    border-radius: 8px;
    padding: 0.75vw 3.7vw;
    color: white; /* Set text color to white for readability */
    display: flex; /* Use flexbox for horizontal alignment */
    align-items: center; /* Align items vertically in the flexbox */
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: -1vw;
  }
  
  .fa-solid.fa-triangle-exclamation {
    color: white;

    margin-right: 5px; /* Add margin to the right of the icon */
  }
  
  
  
/* Styliser la liste déroulante */
.custom-select select {
   
    font-family: 'poppins' , sans-serif;
    font-size: 1vw; /* Définir la taille de police */
    border: 1px solid #ccc; /* Ajouter une bordure */
    border-radius: 4px; /* Ajouter un rayon de bordure */
    
    color: #333; /* Définir la couleur du texte */
    appearance: none; /* Supprimer les styles natifs du navigateur */
    -webkit-appearance: none; /* Pour Safari */
    -moz-appearance: none; /* Pour Firefox */
  }
  
  /* Styliser les options de la liste déroulante */
  .custom-select select option {
    font-family: 'poppins' , sans-serif;
    padding: 8px 12px; /* Ajouter un rembourrage */
    font-size: 1vw; /* Définir la taille de police */
    background-color: #fff; /* Définir la couleur de fond */
    color: #333; /* Définir la couleur du texte */
    border-radius: 4px;
  }
  
  /* Au survol de l'option */
  .custom-select select option:hover {
    font-family: 'poppins' , sans-serif;
    background-color: #f0f0f0; /* Changer la couleur de fond au survol */
  }
  
  /* Au survol de la liste déroulante */
  .custom-select select:hover {
    font-family: 'poppins' , sans-serif;
    border-color: #365486; /* Changer la couleur de la bordure au survol */
  }
  
  /* Au focus de la liste déroulante */
  .custom-select select:focus {
    font-family: 'poppins' , sans-serif;
    outline: none; /* Supprimer la bordure de focus */
    box-shadow: 0 0 5px #aaa; /* Ajouter une ombre de focus */
  }
/* Change the color of disabled and selected options to grey */
option[disabled][selected] {
    color: #365486;
  }



.input-group input::placeholder {
    color: transparent; /* All other browsers */
}
.error {
    color: red; /* Set the text color to red */
    font-size: 0.6em; /* Adjust the font size */
 
  }

  .modal-content{


    width: 100%;
    
    }
    
.ajouter-utilisateur{

   
   
   
   margin-top: -400px;
   
    transform: translate(0, 0); /* Reset any previous translations */
    z-index: 1000; /* Ensure it's above other elements */
    /* Add any other styling you want */
}

#annuler-a{


    margin-left: 10%;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center; 
    font-family: 'poppins' , sans-serif;
    font-weight: 600;
    font-size: 1vw;
    cursor: pointer;
    display: flex;
    height: 2.8vw;
    white-space: nowrap;
  
    border-radius: 8px;
    
   
    padding: 0.75rem 3.5rem;
   
    background-color: #fefefe;
    color: #64379F;
    border: 2px solid #64379F;
  
    width: 34%;
    margin-top: 5%;
}
#annuler-a:hover{
    background-color: #8557c520;
    font-family: 'poppins' , sans-serif;
    text-align: center;
}




#retour{


    margin-left: 10%;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center; 
    font-family: 'poppins' , sans-serif;
    font-weight: 600;
    font-size: 1vw;
    cursor: pointer;
    display: flex;
    height: 2.8vw;
    white-space: nowrap;
  
    border-radius: 8px;
    
   
    padding: 0.75rem 3.5rem;
   
    background-color: #fefefe;
    color: #64379F;
    border: 2px solid #64379F;
  
    width: 34%;
    margin-top: 5%;
}
#retour:hover{
    background-color: #8557c520;
    font-family: 'poppins' , sans-serif;
    text-align: center;
}






button.ajouter {
  
      margin-top: 5%;
      margin-left: 1%;
    display: inline-block;
    text-align: center;
    align-items: center;
    font-family: 'poppins' , sans-serif;
    font-weight: 600;
    font-size: 1vw;
    cursor: pointer;
    display: flex;
    justify-content: center; 
    white-space: nowrap;
    border-radius: 8px;
    height: 2.8vw;
    width: 34%;
    background-color: #64379F;
    color: #fefefe;
    border: 2px solid #64379F;
    position: relative;
    padding: 0.75rem 0.5rem;

}



button.ajouter:hover {
    background-color: #482774;
    font-family: 'poppins' , sans-serif;
    text-align: center;
}
.annuler-a, .ajouter , .Suivant  {
    float: left;
    margin-right: 10px; /* Optional spacing between buttons */
  }




  


button.Suivant {
  
    margin-top: 5%;
    margin-left: 1%;
  display: inline-block;
  text-align: center;
  align-items: center;
  font-family: 'poppins' , sans-serif;
  font-weight: 600;
  font-size: 1vw;
  cursor: pointer;
  display: flex;
  justify-content: center; 
  white-space: nowrap;
  border-radius: 8px;
  height: 2.8vw;
  width: 34%;
  background-color: #365486;
  color: #fefefe;
  position: relative;
  padding: 0.75rem 0.5rem;

}



button.Suivant:hover {
  background-color: #1f3a59;
  font-family: 'poppins' , sans-serif;
  text-align: center;
}
