* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}


.sidebar {
   top: 0;
   left: 0;
   position: fixed;
   background-color: #64379F;
   padding-left: 10px;
   padding-top: 8px;
   height: 100%;
   width: 19.5%; 
   overflow-y:auto;
   
    
}


.nav-links{
   margin-top: 15%;
   width: 85%; 
   list-style: none; 
   padding: 0; 
   transition: all 1s ; 
 
   }
   
   
.link_name
{
   color: aliceblue;
   vertical-align: middle; 
   font-size: 1.2vw;
   margin-left: 10px;
   
 }

 .link_other {
   color:aliceblue;
   line-height: 48px;
   padding: 0 8px; 
   position: relative; 
   display: inline-block; 
   vertical-align: middle; 
}

.links{
  
   font-size: 100%;
   margin-left: 8px;
   width: 100%;
  
}






/**********************************    LOGO  *****************************************************/

.logo-container {
   display: flex;
   align-items: center;  
  margin-top: 2%;
  margin-left: 8px;
  margin-right: 8px;
}

.logo-image {
   width: 60%;
}

.logo-icon
{  
   width: 170%;
   margin-left: -100%;
   margin-top: -50%;
}



.fa-solid.fa-bars {
   margin-top: 20px;
   font-size: 20px;
   margin-left: 80px; /* Add some spacing between the logo and the bars icon */
   color: aliceblue;
  
}





.fa-solid.fa-angle-down {
   font-size: 1vw;
   color: aliceblue;
   position: absolute;
   left: 88%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.fa-solid.fa-chevron-up {
   font-size: 1vw;
   color: aliceblue;
   position: absolute;
   left: 88%;
   top: 50%;
   transform: translate(-50%, -50%);
}


.fa-solid.fa-caret-right
{
   width: 3%;
   color: white;
   margin-right:5%;
   margin-left: -3%;
   border: none;
   position: relative;
   
   
   
}

.menu-icon {
   transition: transform 0.3s ease-in-out; 
}


.menu-icon.active {
   transform: rotate(180deg); 
}


a {
   text-decoration: none; 
}



.icon
{ 
   width:11%;
   border-radius: 0px;
   
   vertical-align: middle ;
   
      
}



li.links .sub_menu 
{

margin-left: 80px;

}


li.sous-choice .sub_menu 
{

margin-left: 80px;

}

li.sous-choice2 .sub_menu 
{

margin-left: 80px;

}


li.links  a
{
  color: aliceblue;
  font-size: 90%;
  
}

li.sous-choice  a
{
  color: aliceblue;
  font-size: 90%;
  
}

li.sous-choice2 a
{
  color: aliceblue;
  font-size: 90%;
  
}

   
ul.sub_menu 
{
 list-style: none; 
 margin-bottom: 24px;
     
}
ul.nav-links
{
 list-style: none; 
 margin-bottom: 24px;
     
}



.sub_sub_menu{
   width: 136%;
   margin-left: -50px; 
} 




.liste_am,.liste2 {
   position: absolute; 
   width: 90%;
   font-size: 1vw;
   transition: all 0.3s;
  
}


.liste_am::before {
   content: "";
   position: absolute;
   background-color: #4D2680;
   color: #365486;
   z-index: -1;
   top: 0; 
   left: 0;
   transition: all 0.3s;
   
}

.liste_am:hover {
  
   margin-left: 0.5%;
  width: 65%;
   background-color: aliceblue;
   color: #365486;
   border-radius: 8px;
   padding: 1.3% 10%;

}
.liste_am:focus {
   margin-left: 0.5%;
   width: 65%;
   background-color: aliceblue;
   color: #365486;
   border-radius: 8px;
   padding: 1.3% 10%;

}




.liste2::before {
   content: "";
   position: absolute;
   background-color: aliceblue;
   color: #365486;
   z-index: -1;
   top: 0; 
   left: 0;
   transition: all 0.3s;
   
}

.liste2:hover {
  
   margin-left: 0.5%;
   width: 74%;
   background-color: aliceblue;
   color: #365486;
   border-radius: 8px;
   padding: 1% 1%;

}
.liste2:focus {
   margin-left: 0.5%;
   width: 74%;
   background-color: aliceblue;
   color: #365486;
   border-radius: 8px;
   padding: 1% 1%;

}




.sub_menu li.sous-choice , .sub_menu li.sous-choice2 {
   margin-bottom: 0%; /* Add margin bottom to create space between list items */
}

.sub_menu li.sous-choice  a.liste  ,  .sub_menu li.sous-choice2  a.liste         {
   margin-left: 2%; /* Add left padding to create space between the icon and the text */
   
}





/*****************************************************************************************************************************************************/
/* Barre supérieure droite */
.top-bar-right {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 6px 10px;
   background-color: #FEFEFE;
   border-bottom: 1px solid #ddd;
   box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
   right: 0;
}

.settings,
.notification,
.profile,
.aide {
   margin-right: 20px;
}

/* Ajuster la taille des boutons */
.settings button,
.notification button,
.aide button {
   width: 40px;
   height: 40px;
}

button {
   background-color: transparent;
   border: none;
   cursor: pointer;
}

button img {
   border-radius: 50%;

}

button:hover img {
   filter: brightness(85%);
}

.profile img {
   width: 53px;
   height: auto;
}

img {
   width: 40px;
}



.button-links {
   display: inline-block;
   padding: 2px 2px;
   font-size: 16px;
   margin-left: -1%;
   text-align: left;
   text-decoration: none;
   cursor: pointer;
  margin-bottom: 2px;
   border-radius: 8px;
   color: #ffffff;
   background-color: #64379F;
   width: 114%;
 }

 .button-links:hover {
   background-color: #4D2680;
 
   



 }
 
 .button-links:active {
   background-color: #442171;

 }





 
.sidebar .nav-links li.links {
   transition: background-color 0.1s; 
  
 }
 
 .button-links.clicked {
   background-color: #442171; 
}

.sous-choice{
  padding-top: 3%;
  margin-left: -4%;
}

.sous-choice2{

   padding-top: 3%; 
   margin-left: -5%;
   
   
}



/*

@media screen and (max-width: 400px) {

   .sidebar .nav-links li {
      display: none;
  }

 


  .top-bar-right {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 6px 10px;
   background-color: #FEFEFE;
   border-bottom: 1px solid #ddd;
   box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
   right: 0;
}

.settings,
.notification,
.profile,
.aide {
   margin-right: 20px;
}


.settings button,
.notification button,
.aide button {
   width: 30px;
   height: 30px;
}

button {
   background-color: transparent;
   border: none;
   cursor: pointer;
}

button img {
   border-radius: 40%;

}

button:hover img {
   filter: brightness(85%);
}

.profile img {
   width: 43px;
   height: auto;
}

img {
   width: 30px;
}

.sidebar {
   display: none;
    
}

 
.logo-ima {
   width: 55%;
   display: block;
  
}


.logo-container {
   display: flex;
   align-items: center;  
  margin-top: 1%;
  margin-left: 8px;
  margin-right: 8px;
  
}

 
}



@media screen and (min-width:401px) and (max-width: 768px) {


   .sidebar {
      top: 0;
      left: 0;
      position: fixed;
      background-color: #64379F;
      padding-left: 10px;
      padding-top: 8px;
      height: 100%;
      width: 22%;  
       
   }
   
   .top-bar-right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 6px 10px;
      background-color: #FEFEFE;
      border-bottom: 1px solid #ddd;
      box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
      right: 0;
   }
   
   .settings,
   .notification,
   .profile,
   .aide {
      margin-right: 20px;
   }
   
   
   .settings button,
   .notification button,
   .aide button {
      width: 30px;
      height: 30px;
   }
   
   button {
      background-color: transparent;
      border: none;
      cursor: pointer;
   }
   
   button img {
      border-radius: 40%;
   
   }
   
   button:hover img {
      filter: brightness(85%);
   }
   
   .profile img {
      width: 43px;
      height: auto;
   }
   
   img {
      width: 30px;
   }




   
   .nav-links{
      margin-top: 15%;
      width: 80%;  
      list-style: none; 
      padding: 0; 
      transition: all 1s ; 
      }
      
      
   
    .link_other {
      color:aliceblue;
      line-height: 46px;
      padding: 0 8px; 
      
   }
   


   .nav-links{
      margin-top: 15%;
      width: 90%;  
      list-style: none; 
      padding: 0; 
      transition: all 1s ; 
      }
      
      
   
    .link_other {
      color:aliceblue;
      line-height: 44px;
      padding: 0 8px; 
      
   }
   
   .links{
     
      font-size: 60%;
      margin-left: 8px;
      width: 100%;
      
   }
   
  
   .link_name {
      font-size: 120%;
     
   }
   
   .fa-solid.fa-angle-down {

      font-size: 70%;
      color: aliceblue;
      position: absolute;
      left: 85%;
      margin-top:16%;
      margin-left: 5px;
     
      
   }

   .fa-solid.fa-chevron-up{

      font-size: 70%;
      color: aliceblue;
      position: absolute;
      margin-left: 5px;
      left: 85%;
      margin-top:16%;
   
   
   }
   


   .liste_am,.liste2 {
      position: absolute; 
      width: 90%;
      transition: all 0.3s;
     
   }
   
   
   .liste_am::before {
      content: "";
      position: absolute;
      background-color: #4D2680;
      color: #365486;
      z-index: -1;
      top: 0; 
      left: 0;
      transition: all 0.3s;
      
   }
   
   .liste_am:hover {
     
      margin-left: 0.2%;
     width: 60%;
      background-color: aliceblue;
      color: #365486;
      border-radius: 8px;
      padding: 0.8% 14%;
   
   }
   .liste_am:focus {
      margin-left: 0.2%;
      width: 60%;
      background-color: aliceblue;
      color: #365486;
      border-radius: 8px;
      padding: 0.8% 14%;
   
   }
   
   
   
   
   .liste2::before {
      content: "";
      position: absolute;
      background-color: #4D2680;
      color: #365486;
      z-index: -1;
      top: 0; 
      left: 0;
      transition: all 0.3s;
      
   }
   
   .liste2:hover {
     
      margin-left: 0.2%;
     width: 70%;
      background-color: aliceblue;
      color: #365486;
      border-radius: 8px;
      padding: 0.8% 0.8%;
   
   }
   .liste2:focus {
      margin-left: 0.2%;
      width: 70%;
      background-color: aliceblue;
      color: #365486;
      border-radius: 8px;
      padding: 0.8% 0.8%;
   
   }
   
   
   
   


}








*/



/*
@media screen and (max-width: 1499px) {


   .liste2::before {
      content: "";
      position: absolute;
      background-color: #4D2680;
      color: #365486;
      z-index: -1;
      top: 0; 
      left: 0;
      transition: all 0.3s;
      
   }
   
   .liste2:hover {
     
      margin-left: 0.5%;
     width: 68%;
      background-color: aliceblue;
      color: #365486;
      border-radius: 8px;
      padding: 1% 1%;
   
   }
   .liste2:focus {
      margin-left: 0.5%;
      width: 68%;
      background-color: aliceblue;
      color: #365486;
      border-radius: 8px;
      padding: 1% 1%;
   
   }
   


 width:11%;
   border-radius: 0px;
   
   vertical-align: middle ;
   

}*/

.fa-solid.fa-database {

   font-size: 1.5vw;
   color: aliceblue;
   
   width:11%;
   border-radius: 0px;
   
   vertical-align: middle ;
   



}
















/*****************************************************************************************************************************************************/
/* Barre supérieure droite */
.top-bar-right {
   position: fixed;
   display: flex;
   top: 0;
   right: 0;
   left: 19.5%;
   justify-content: flex-end;
   max-height: 8%;
   align-items: center;
   padding: 6px 2px;
   background-color: #FEFEFE;
   border-bottom: 1px solid #ddd;
   box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
   z-index: 999;
}

.settings,
.notification,
.profile,
.aide {
   cursor: pointer;

   margin-right: 20px;
}

/* Ajuster la taille des boutons */
.settings button,
.notification button,
.aide button {
   width: 10%;
   height: 10%;
}

button {
   background-color: transparent;
   border: none;
   cursor: pointer;
}

button img {
   border-radius: 50%;
}

button:hover img {
   filter: brightness(100%);
}

.profile img {
   width: 50px;
   height: auto;
   border-radius: 50%;
}

img {
   width: 40px;
}

/*:root {
      /*  --primary-color: #64379F; /* Couleur principale */
/*  --hover-color: rgba(67, 35, 109, 0.8); /* Couleur au survol (plus sombre et transparent) */
/*   --active-color:  rgba(67, 35, 109, 0.8); /* Couleur lorsqu'actif (encore plus transparent) */
/*     --clicked-color:  rgba(67, 35, 109, 0.8); /* Couleur de fond lorsque le bouton est cliqué (similaire à active-color) */
/*    }*/
:root {
   --primary-color: #64379F;
}

/* Define default values for custom properties */
body {
   --hover-color: rgba(67, 35, 109, 0.8);
   --active-color: rgba(67, 35, 109, 0.8);
   --clicked-color: rgba(67, 35, 109, 0.8);
}

.button-links {
   display: inline-block;
   padding: 2px 2px;
   font-size: 16px;
   margin-left: -1%;
   text-align: left;
   text-decoration: none;
   cursor: pointer;
   margin-bottom: 2px;
   border-radius: 8px;
   color: #ffffff;
   background-color: var(--primary-color);
   width: 114%;
}

.button-links:hover {
   background-color: var(--hover-color);
}

.button-links:active {
   background-color: var(--active-color);
}

.button-links.clicked {
   background-color: var(--clicked-color);
   /* Autres styles que vous souhaitez appliquer lorsque le bouton est cliqué */
}

.sidebar .nav-links li {
   transition: background-color 0.1s;
}

.color-picker-modal {
   display: none;
   position: absolute;
   top: 85%;
   z-index: 1000;
   transform: translateX(-80%);
   background-color: #fff;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   font-size: 1vw;
   max-width: 200px;
   transition: background-color 0.3s ease;
}

.color-picker-modal h2 {
   font-size: 14px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: #000;
}

.color-picker-modal-content {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.color-picker {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}

.color-picker button {
   width: 25px;
   height: 25px;
   border-radius: 8px;
   border: none;
   cursor: pointer;
   margin: 5px;
   outline: none;
   background-color: var(--button-color);
   /* Couleur de fond du bouton (définie par la variable) */
}

/* Effet de survol sur les boutons de sélection de couleur */
.color-picker button:hover {
   transform: scale(1.1);

}

.close-modal {
   cursor: pointer;
   font-size: 20px;
   color: #888;
   margin-top: -15%;
   margin-right: -5%;
}

.close-modal:hover {
   color: #333;
}

.notification {
   position: relative;
   display: inline-block;
}

#notificationBtn {
   background: none;
   border: none;
   cursor: pointer;
   position: relative;
}

.notification-badge {
   position: absolute;
   background-color: red;
   top: 0.25vw;
   right: -2vw;
   border-radius: 50%;
   padding: 5.5px 5.5px;
}

.notification-panel {
   position: absolute;
   top: calc(100% - 10%);
   right: 0;
   width: 25vw;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   padding: 15px;
   display: none;
   z-index: 1000;
}

.notification-panel h3 {
   margin-top: 0;
   font-size: 1.25vw;
   color: #333;
}

.notification-panel ul {
   font-size: 1vw;
   list-style-type: none;
   padding: 5px;
   margin-bottom: 5px;
   height: 10vw;
   overflow-y: auto;
}

.notification-item {
   display: flex;
   align-items: center;
   margin-bottom: 5px;
   padding-bottom: 5px;
   border-bottom: 1px solid #ccc;
}

.notification-item img {
   width: 30px;
   height: 30px;
   margin-right: 10px;
}

.message {
   flex: 1;
}




#deconnexion {
   font-size: 19px;
   font-weight: 500;
   color: black;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   margin-bottom: 8px;
}

.icon-deconnexion {
   margin-bottom: 10px;
   width: 50px;
   height: auto;
   margin-top: 10px;
}


